.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

a {
    text-decoration: none;
  }
button {
  cursor: pointer;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
