/*  COMMON STYLES  */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* a {
  text-decoration: none;
} */

button {
  cursor: pointer;
}

/*  */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1,4;
}

/* PAGE HEADER */

.page-header {
  color: #434455;
}

.logotype :hover,
.logotype:focus {
  color: var(--iris, #2e2f42);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1,16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*  PAGE HEADER  */

.menu-link {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.32px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean, #404bbf);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1,5;
  letter-spacing: 0.32px;
}
.page-header {
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

/* PAGE HEADER */

/*  HERO  */
.main-title {
  color: var(--white, #fff);
  text-align: center;

  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1,07;
  letter-spacing: 1.12px;
}
.hero {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.order-serv-btn-text {
  color: var(--white, #ffffff);

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1,5;
  letter-spacing: 0.64px;
}

.order-serv-btn:hover,
.order-serv-btn:focus {
  color: var(--iris, #4d5ae5);
  background-color: var(--ocean, #404bbf);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* SECTION1 */
.s1-list-title {
  color: var(--navyblue, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1,2;
  letter-spacing: 0.4px;

  color: var(--navyblue, #2e2f42);
  text-align: center;
}
